#bar {
    background: #fafafb;
    color: #535a60;
}

#navbarSignup, #navbarLogin {
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

#navbarSignup {
    background-color: #0077cc;
    color: white;
}

#navLinkBar1 {
    text-decoration: none;
    color: white;

}

#navLinkBar {
    text-decoration: none;
    color: #0077cc;

}
