.yellowContainer{
    background-color: #ffcf10;
    background-image: url(https://cdn.sstatic.net/Img/home/illo-hero-full.svg?v=e2018a5f9272);
    background-position: top center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.wordsContainer{
   width: auto;
    height: 200px;
    position: absolute;
    left: 35%;
    top: 40%;
    
    margin-top: -100px;
    margin-left: -100px;
}

.boldHeading{
    font-family: serif;
    font-size: 55px;
    font-weight: 700;
    width: 90%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.boldSubheading{
    font-family: sans-serif;
    font-size: 21px;
    max-width: 32.4102564rem;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}