.qitem1 {
    width: 100%;
    padding: 20px;
    border-right: 1px solid lightgrey;
}

.qitem2 {
    width: 100%;
    padding: 20px;
    border-right: 1px solid lightgrey;
    background-color: yellow;
}

.qgrid1 {
    position: absolute;
    left: 15%;
    border-left: 1px solid lightgrey;



}

#report {
    color: blue;
    float: right;
    font-size: 10px;

}

.header1 {
    width: 125%;
    border-bottom: 1px solid lightgray;
}
#headergroup1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headertext1 {
    padding: 50px 0px 30px 80px;
    font: 22px Arial;
    display: flex;


}

#qcount1 {
    font: 17px Arial;
    padding-top: 20px;
}

#nav {
    padding: 40px 0px 0px 50px;
    display: flex;
    flex-direction: column;

}

#stack {
    background-color: whitesmoke;
    width: 12%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border-right: 5px solid orange;
}

#pub {
    font-size: 11px;
    padding-left: 10px;
}
#linkz2 {
    text-decoration: none;
    color: white;
}

.aitem1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    font: 22px Arial;
}
