.qitem {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.qgrid {
    position: absolute;
    left: 15%;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;


}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    flex-direction: column;
}

#headertext {
    padding: 50px 0px 30px 80px;
    font: 22px Arial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

#qcount {
    font: 17px Arial;
    padding-top: 20px;
}

#nav {
    padding: 40px 0px 0px 50px;
    display: flex;
    flex-direction: column;

}

#stack {
    background-color: whitesmoke;
    width: 12%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border-right: 5px solid orange;
    text-decoration: none;
}

#smallsnack {
    text-decoration: none;
    color: black;
}

#pub {
    font-size: 11px;
    padding-left: 10px;
}

.ask-button {
    text-decoration: none;
    border: none;
    background-color: #0095F6;
    border-radius: 4px;
    color: white;
    height: 35px;
    width: 14%;
    margin: 5%;
}

#headergroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}
